<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Sign in</h1>

<%= simple_form_for(:user, url: sign_in_path, scope: nil) do |form| %>
  <%= form.input :email, input_html: { name: 'email' } %>
  <%= form.input :password, as: :password, input_html: { name: 'password' } %>
    
  <%= form.button :submit, "Sign in" %>
<% end %>

<br>

<div>
  <%= link_to "Sign up", sign_up_path %> |
  <%= link_to "Forgot your password?", new_identity_password_reset_path %>
</div>
