<h1>SHOW PAGE<h1>
<h2><%= @board.name%></h2>
<h3><%= @board.description%></h3>
<%= link_to "Edit Board", edit_project_board_path(@project, @board) %>

<div class="toolbar">
  <h1>Brello</h1>
  <%= link_to "Add Card", new_project_board_card_path(@project, @board), class: "button__primary" %>
  <%= link_to "Add Column", new_project_board_board_column_path(@project, @board), class: "button__primary" %>
</div>



<div class="board" data-controller="drag">
  <%= form_for :card, url: '/cards/id', method: :patch, data: { turbo: false, drag_target: 'form' }, class: 'hidden' do |form| %>
    <%= form.text_field :column_id, data: { drag_target: 'status' } %>
    <%= hidden_field_tag :board_id, @board.id %>
    <%= form.submit "Update Card" %>
  <% end %>

  <% @board_columns.each do |board_column| %>
    <% column = board_column.column %>
    <div class="board__column">
      <h2 class="board__column-title"><%= column.name.titleize %></h2>
      <div class="card-container" data-column-id="<%= board_column.id %>">
        <% column.cards.by_position.each do |card| %>
          <%= render card %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



