<h1><%= @board.name %></h1>
<h3><%= @board.description %></h3>
<%= link_to "Edit Board", edit_project_board_path(@project, @board) %>

<div class="toolbar">
  <%= link_to "Add Card", new_project_board_card_path(@project, @board), class: "button__primary", data: { controller: "dialog", action: "dialog#open" }%>
  <%= link_to "Add Column", new_project_board_board_column_path(@project, @board), class: "button__primary" %>
</div>

<div
  class="board-wrapper"
  data-controller="column-drag board"
  data-project-id="<%= @project.id %>"
  data-board-id="<%= @board.id %>"
>
  <div
    class="board"
    data-controller="card-drag"
    data-card-drag-drop-target-class=".card-container"
    data-card-drag-draggable-class=".card"
    data-card-drag-dragging-class="card--dragging"
    data-card-drag-drop-indicator-class="drop-indicator"
    data-card-drag-handle-class=".card"
  >
    <!-- Hidden form for updating cards -->
    <%= form_for :card, url: '/cards/id', method: :patch,
                 data: { turbo: false }, id: 'cards-form', class: 'hidden' do |form| %>
      <%= form.text_field :column_id %>
      <%= hidden_field_tag :board_id, @board.id %>
      <%= form.submit "Update Card" %>
    <% end %>

    <!-- Hidden form for updating columns -->
    <%= form_for :board_column, url: '/board_columns/id', method: :patch,
                 data: { turbo: false }, id: 'columns-form', class: 'hidden' do |form| %>
      <%= form.text_field :position %>
      <%= hidden_field_tag :board_id, @board.id %>
      <%= form.submit "Update Column" %>
    <% end %>

    <% @board_columns.order(:position).each do |board_column| %>
      <% column = board_column.column %>
      <div class="board__column" data-column-id="<%= column.id %>" data-board-column-id="<%= board_column.id %>">
        <div class="board__column-header drag-handle">
          <h2 class="board__column-title"><%= column.name.titleize %></h2>
          <span class="drag-icon">⠿</span>
        </div>
        <%= turbo_frame_tag dom_id(column, :board), src: project_board_column_path(@project, @board, column), class: 'content' do %>
          Loading...
        <% end %>
      </div>
    <% end %>
  </div>
</div>
