<%= content_tag :div, 
  id: dom_id(card, :board),
  class: "card", 
  data: { 
    card_id: card.id 
  } do %>

  <%= button_tag class: "card__title", type: "button",
              data: { controller: "card", action: "card#open" } do %>
    <%= card.title %>
  <% end %>

  <div class="card__description">
    <%= card.description %>
  </div>

  <div class="card__number">
    <%= card.id %>
  </div>
<% end %>
